@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #222831;
  color: #eeeeee;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.titulo {
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../imagenes/titulo3.png);
  background-image: url(../imagenes/titulo3.webp);
  background-repeat: no-repeat;
  filter: drop-shadow(1px 4px 31px black) !important;
  height: 600px;
  background-size: cover;
}

a.nav-link {
  text-decoration: none;
  color: lightcyan;
  line-height: 3;
  transition: all 500ms ease-in-out;
}

a.nav-link:hover {
  color: gold !important;
  text-decoration: underline;
  filter: saturate(95%);
}

#tituloh1 {
  font-size: 3.7rem;
  font-family: "Staatliches", cursive;
  padding-left: 30px;
  text-shadow: 2px 2px 2px black;
}

#contactoMobile {
  display: none;
}

p {
  font-size: 1.3rem;
}

/* ----Contacto--- */
#contactenos {
  color: black;
  display: flex;
  font-size: 1.1rem;
}

#contactenos:hover {
  transform: scale(0.9);
}

.formulario {
  margin-left: 7%;
  width: auto;
  padding: 2rem;
}

form input {
  display: block;
  width: 50%;
}

#mensajeForm {
  display: block;
}

#newsletter {
  display: inline-block;
}

#buttonSend {
  width: 100%;
}

.logoForm {
  float: right;
  margin: 4%;
  opacity: 70%;
}

#whatsapp a img {
  width: 80px;
  height: 80px;
}

#whatsapp a {
  background: none;
  position: fixed;
  top: 70%;
}

.mainContacto {
  display: flex;
  justify-content: center;
  background: black;
  margin-top: 1px;
}

.textoMainContacto {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.mapDesktop {
  margin-top: 2%;
  margin-bottom: 1%;
}

.mailContacto {
  display: none;
}

textarea {
  width: 100%;
}

/* ---- quienes somos --- */
.main {
  max-width: 1366px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "image1 text1 text1 text1" "image2 text2 text2 text2";
}

.image1 {
  grid-area: image1;
}

.image2 {
  grid-area: image2;
}

.text1 {
  grid-area: text1;
  padding: 0 1rem;
}

.text2 {
  grid-area: text2;
  padding: 0 1rem;
}

.historia {
  text-align: center;
  color: #ff2e2e;
  filter: drop-shadow(2px 4px 6px black);
}

.historia h2 {
  font-size: 2.5rem;
}

.historia p {
  color: lightgray;
}

.carouselTitle {
  color: #ff2e2e;
}

.grid-container {
  border: 1px solid;
  border-radius: 1%;
}

.grid-container div img {
  width: 100%;
  height: 300px;
}

.grid-container .carousel-caption h5 {
  color: yellow;
}

/* ---footer --- */
.footer {
  height: 100px;
  background: linear-gradient(90deg, #454545 0%, #2b2b2b 91%);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(2px 4px 6px black);
}

.footer div a span {
  color: lightblue;
}

/* ---tablet responsive -- */
@media (max-width: 768px) {
  .titulo {
    display: flex;
    align-items: center;
    background-image: url(../imagenes/titulo3.webp);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    height: 170px;
  }

  .lista {
    display: flex;
    margin: auto;
    padding: initial;
    border: 1px solid;
  }

  li {
    list-style: none;
    flex: auto;
    text-align: center;
  }

  a {
    color: white;
    line-height: 3;
    width: 100%;
  }

  .mainContacto {
    display: none;
  }
}
/* --- mobile responsive --- */
@media (max-width: 576px) {
  .titulo {
    display: flex;
    align-items: center;
    background-image: url(../imagenes/titulo3.webp);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    height: 170px;
  }

  .btnContacto {
    display: none;
  }

  .mainContacto {
    display: none;
  }

  .mailContacto {
    display: block;
    text-align: center;
  }

  .mailContacto a:hover {
    color: aqua;
  }

  #contactoDesktop {
    display: none;
  }

  #contactoMobile {
    display: inline-block;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "text1" "image1" "text2" "image2";
  }
}
.ir-arriba {
  display: block;
  padding: 17px;
  background: gray;
  font-size: 9px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  border-radius: 5%;
}

.ir-arriba img {
  width: 20px;
  height: 16px;
}

.article__main .article__title {
  color: #ff2e2e;
  font-size: 2rem;
}
.article__main .article__subtitle {
  color: lightgray;
  font-size: 1.4rem;
}
.article__main .article__container {
  display: flex;
}
@media (max-width: 768px) {
  .article__main .article__container {
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .article__main .article__container {
    flex-wrap: wrap;
  }
}
.article__main .article__containerText {
  background: #161718;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 4%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .article__main .article__containerText {
    flex-direction: column;
    width: 100%;
  }
}
.article__main .article__containerTextTitle {
  color: #ff2e2e;
}
@media (max-width: 968px) {
  .article__main .article__containerImg {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .article__main .article__containerImg {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .article__main .article__containerImg {
    width: 100%;
  }
}
.article__main .article__containerTextParagraph {
  text-align: center;
}

.btn {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: "Lora", serif;
  font-size: 1.1em;
  margin-bottom: 0.1%;
}

.btn-green {
  background: #2ecc71;
}
.btn-green:hover {
  background: #26ab5f;
  transition: all 0.3s ease;
}
.btn-green:active {
  background: #176437;
}

.btn-blue {
  background: #3498db;
}
.btn-blue:hover {
  background: #2383c4;
  transition: all 0.3s ease;
}
.btn-blue:active {
  background: #16527a;
}

.btn-cyan {
  background: lightcyan;
}
.btn-cyan:hover {
  background: #b7ffff;
  transition: all 0.3s ease;
}
.btn-cyan:active {
  background: #61ffff;
}

/*Creamos el bucle para usar los valores del mapa*/
.border-green {
  border: 1px solid #2ecc71;
}

.border-blue {
  border: 1px solid #3498db;
}

.border-cyan {
  border: 1px solid lightcyan;
}

.border-red {
  border: 1px solid #ff2e2e;
}

.carousel-multiple::before {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  content: "Marcas con las que trabajamos";
}
@media (min-width: 576px) and (max-width: 767px) {
  .carousel-multiple::before {
    content: "Marcas con las que trabajamos";
  }
  .carousel-multiple .carousel-item.active,
.carousel-multiple .carousel-item-next,
.carousel-multiple .carousel-item-prev {
    display: flex;
  }
  .carousel-multiple .carousel-inner {
    overflow: visible;
  }
  .carousel-multiple .carousel-inner .carousel-item {
    margin-right: inherit;
  }
  .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item {
    display: flex;
  }
  .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) {
    transition: none;
  }
  .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }
  .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;
    display: flex;
    visibility: visible;
    height: 100%;
  }
  .carousel-multiple .carousel-inner .carousel-item-next, .carousel-multiple .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: -1;
    display: flex;
    visibility: visible;
    height: 100%;
    transform: translate3d(100%, 0, 0);
  }
  .carousel-multiple .active.carousel-item-left + .carousel-item-next.carousel-item-left {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-multiple .active.carousel-item-right + .carousel-item-prev.carousel-item-right {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: flex;
    visibility: visible;
  }
  .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: flex;
    visibility: visible;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-multiple::before {
    content: "Marcas con las que trabajamos";
  }
  .carousel-multiple .carousel-item.active,
.carousel-multiple .carousel-item-next,
.carousel-multiple .carousel-item-prev {
    display: flex;
  }
  .carousel-multiple .carousel-inner {
    overflow: visible;
  }
  .carousel-multiple .carousel-inner .carousel-item {
    margin-right: inherit;
  }
  .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item {
    display: flex;
  }
  .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) {
    transition: none;
  }
  .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }
  .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333333333%;
    z-index: -1;
    display: flex;
    visibility: visible;
    height: 100%;
  }
  .carousel-multiple .carousel-inner .carousel-item-next, .carousel-multiple .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: -1;
    display: flex;
    visibility: visible;
    height: 100%;
    transform: translate3d(100%, 0, 0);
  }
  .carousel-multiple .active.carousel-item-left + .carousel-item-next.carousel-item-left {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-multiple .active.carousel-item-right + .carousel-item-prev.carousel-item-right {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: flex;
    visibility: visible;
  }
  .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: flex;
    visibility: visible;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-multiple::before {
    content: "Marcas con las que trabajamos";
  }
  .carousel-multiple .carousel-item.active,
.carousel-multiple .carousel-item-next,
.carousel-multiple .carousel-item-prev {
    display: flex;
  }
  .carousel-multiple .carousel-inner {
    overflow: visible;
  }
  .carousel-multiple .carousel-inner .carousel-item {
    margin-right: inherit;
  }
  .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item {
    display: flex;
  }
  .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) {
    transition: none;
  }
  .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }
  .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: flex;
    visibility: visible;
    height: 100%;
  }
  .carousel-multiple .carousel-inner .carousel-item-next, .carousel-multiple .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: -1;
    display: flex;
    visibility: visible;
    height: 100%;
    transform: translate3d(100%, 0, 0);
  }
  .carousel-multiple .active.carousel-item-left + .carousel-item-next.carousel-item-left {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-multiple .active.carousel-item-right + .carousel-item-prev.carousel-item-right {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: flex;
    visibility: visible;
  }
  .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: flex;
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .carousel-multiple::before {
    content: "Marcas con las que trabajamos";
  }
  .carousel-multiple .carousel-item.active,
.carousel-multiple .carousel-item-next,
.carousel-multiple .carousel-item-prev {
    display: flex;
  }
  .carousel-multiple .carousel-inner {
    overflow: visible;
  }
  .carousel-multiple .carousel-inner .carousel-item {
    margin-right: inherit;
  }
  .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item {
    display: flex;
  }
  .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) {
    transition: none;
  }
  .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item, .carousel-multiple .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }
  .carousel-multiple .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -16.6666666667%;
    z-index: -1;
    display: flex;
    visibility: visible;
    height: 100%;
  }
  .carousel-multiple .carousel-inner .carousel-item-next, .carousel-multiple .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: -1;
    display: flex;
    visibility: visible;
    height: 100%;
    transform: translate3d(100%, 0, 0);
  }
  .carousel-multiple .active.carousel-item-left + .carousel-item-next.carousel-item-left {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-next.carousel-item-left + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-multiple .active.carousel-item-right + .carousel-item-prev.carousel-item-right {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: flex;
    visibility: visible;
  }
  .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-multiple .carousel-item-prev.carousel-item-right + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: flex;
    visibility: visible;
  }
}

.servicios {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.servicios li {
  background: url("../imagenes/viñeta.png") no-repeat left center;
  height: 25px;
  padding-left: 28px;
}
@media (max-width: 768px) {
  .servicios li {
    flex: none !important;
    text-align: start;
  }
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-preloader {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.h3-preloader {
  color: #fff;
}

.preloader.cargado {
  display: none;
}/*# sourceMappingURL=estilos.css.map */