body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; /* tipografia */
  background-color:#222831;
  color: #eeeeee;
  box-sizing: border-box;
   
}


 

.menuNav{

  display: flow-root;
  
}

.center {
  display: flex;
}

.lista {
  display: flex;
  margin: auto;
  padding: initial;
  
}

.titulo {
  color:#eeeeee; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../imagenes/titulo3.webp); 
  background-repeat: no-repeat;

height: 600px;
}
.logo {
  width: 144px;
  height: 144px;
}



p {
  font-size: 18px; /*Cambia el tamaño de la letra */
}




a {
  text-decoration: none;
  color:white;
  line-height: 3;
}

li {
  list-style: none;
  flex: auto;
  text-align: center;
  text-decoration: underline white;
  
  
}



/* --- main container--- */


.main{
  border: 1px solid white;
  text-align: center;
}

.contenedorFlex{
  display:flex;
 

  
}

.contenedorTexto{

  background:#393e46;
  text-align: center;
  width: 100%
 
}


#contactenos{

  color: black;
  display: flex;
  
}




/* ---footer --- */
.footer {
  height: 80px;
 background-color:#393e46;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
 
}






/* ----Formulario--- */


form {
border: 2px solid lightskyblue;
width: max-content;

box-sizing: border-box;



}
form input {

display: block;
 width: 50%;
  }
 

 #mensajeForm {
  display: block;
 } 
  
 #newsletter {
   display: inline-block;
 } 


 #button_send {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 40px;
    
   
  }
#button_send:hover {
  background-color: lightskyblue;
  font-size: 24px;
} 


.logoForm {

  float: right;
  margin: 4%;
  opacity: 70%;
}

#whatsapp a {

  background: none;
  position: fixed;
  top: 85%;
  right: 1%;
}

.mainContacto{
  display: flex;
 justify-content: center;
 

}
 .textoMainContacto{

  flex-direction: column;
 }




/*  ----Ir arriba --- */

.ir-arriba {
	display:block;
	padding:17px;
	background:gray;
	font-size:15px;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}







/*   ---break point ---   */

@media (max-width: 1200px) {


}
/* ---tablet responsive -- */
@media  (max-width: 768px) {
  body{
    width: fit-content;
  }

  .contenedorFlex {
    flex-wrap: wrap;
  }
 
  
  
  
  
  .titulo {
  
    display: flex;
    align-items: center;
    background-image: url(../imagenes/titulo3.webp); 
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    height: 170px;
  }
  
  .lista {
    display: flex;
    margin: auto;
    padding: initial;
    border: 1px solid;
  
  }
  
  li {
    list-style: none;
    flex: auto;
    text-align: center;
   
  }
  a {
      color: white;
      line-height: 3;
      width: 100%;
  }
 
  
}


/* --- mobile responsive --- */
@media  (max-width: 576px) {

.contenedorFlex {
  flex-wrap: wrap;
}
.contenedorFlex img {
  width: 100%;
}



.titulo {

  display: flex;
  align-items: center;
  background-image: url(../imagenes/titulo3.webp); 
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
  height: 170px;
}

.lista {
  display: flex;
  margin: auto;
  padding: initial;
  flex-direction: column;
}

li {
  list-style: none;
  flex: auto;
  text-align: center;
  text-decoration: underline white;
  border: 1px solid;
}
a {
    color: white;
    line-height: 3;
    display: inline-block;
    width: 100%;
}


}



/* ---- quienes somos --- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "image1 text1 text1 text1"
    "image2 text2 text2 text2"
    "image3 image4 image5 image6";

   
}
.image1 { grid-area: image1; }
.image2 { grid-area: image2; }
.text1 { grid-area: text1; }
.text2 { grid-area: text2; }
.image3 { grid-area: image3; }
.image4 { grid-area: image4; }
.image5 { grid-area: image5; }
.image6 { grid-area: image6; }

.historia {
  text-align: center;
  background: gray;
}

.grid-container div img {
  width: 95%;
  height: 300px;
}
.tituloMarcas {
  text-align: center;

}