.article__main {
  .article__title {
    color: $color-red;
  }

  .article__subtitle {
    color: $color-lg;
  }

  .article__container {
    display: flex;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    @media (max-width: 576) {
      flex-wrap: wrap;
    }
  }

  .article__containerText {
    background: #393e46;
    text-align: center;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .article__containerTextTitle {
    color: $color-red;
  }

  .article__containerImg {
    @media (max-width: 968px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
  }

  .article__containerTextParagraph {
    text-align: center;
  }
}
