.article__main {
  .article__title {
    color: $color-red;
  }

  .article__subtitle {
    color: $color-lg;
  }

  .article__container {
    display: flex;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    @media (max-width: 576) {
      flex-wrap: wrap;
    }
  }

  .article__containerText {
    background: $color-fondoaticle;
    text-align: center;
    width: $cienx;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 4%;

    @media (max-width: 768px) {
      flex-direction: column;
      width: $cienx;
    }
  }

  .article__containerTextTitle {
    color: $color-red;
  }

  .article__containerImg {
    @media (max-width: 968px) {
      width: $cienx/2;
    }

    @media (max-width: 768px) {
      width: $cienx;
    }
    @media (max-width: 576px) {
      width: $cienx;
    }
  }

  .article__containerTextParagraph {
    text-align: center;
  }
}
