body {
  background-color: #222831;
  color: #eeeeee;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.titulo {
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../imagenes/titulo3.png);
  background-image: url(../imagenes/titulo3.webp);
  background-repeat: no-repeat;
  filter: drop-shadow(1px 4px 31px black) !important;
  height: 600px;
  background-size: cover;
}
a.nav-link {
  text-decoration: none;
  color: $color-lgy;
  line-height: 3;
  transition: all 500ms ease-in-out;
}
a.nav-link:hover {
  color: gold !important;
  text-decoration: underline;
  filter: saturate(95%);
}

#tituloh1 {
  font-size: 3.7rem;
  font-family: "Staatliches", cursive;
  padding-left: 30px;
  text-shadow: 2px 2px 2px black;
}
#contactoMobile {
  display: none;
}

p {
  font-size: 1.3rem;
}

/* ----Contacto--- */

#contactenos {
  color: black;
  display: flex;
  font-size: 1.1rem;
}

#contactenos:hover {
  transform: scale(0.9);
}
.formulario {
  margin-left: 7%;
  width: auto;
  padding: 2rem;
}
form input {
  display: block;
  width: 50%;
}

#mensajeForm {
  display: block;
}

#newsletter {
  display: inline-block;
}

#buttonSend {
  width: 100%;
}

.logoForm {
  float: right;
  margin: 4%;
  opacity: 70%;
}
#whatsapp a img {
  width: 80px;
  height: 80px;
}
#whatsapp a {
  background: none;
  position: fixed;
  top: 70%;
}

.mainContacto {
  display: flex;
  justify-content: center;
  background: black;
  margin-top: 1px;
}
.textoMainContacto {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.mapDesktop {
  margin-top: 2%;
  margin-bottom: 1%;
}

.mailContacto {
  display: none;
}

/* ---- quienes somos --- */
.main {
  max-width: 1366px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "image1 text1 text1 text1"
    "image2 text2 text2 text2";
}
.image1 {
  grid-area: image1;
}
.image2 {
  grid-area: image2;
}
.text1 {
  grid-area: text1;
  padding: 0 1rem;
}
.text2 {
  grid-area: text2;
  padding: 0 1rem;
}

.historia {
  text-align: center;
  color: $color-red;
  filter: drop-shadow(2px 4px 6px black);
}
.historia h2 {
  font-size: 2.5rem;
}
.historia p {
  color: lightgray;
}
.carouselTitle {
  color: $color-red;
}
.grid-container {
  border: 1px solid;
  border-radius: 1%;
}

.grid-container div img {
  width: 100%;
  height: $heipx - 700px;
}

.grid-container .carousel-caption h5 {
  color: yellow;
}
/* ---footer --- */
.footer {
  height: 100px;
  background: linear-gradient(
    90deg,
    rgba(69, 69, 69, 1) 0%,
    rgba(43, 43, 43, 1) 91%
  );
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(2px 4px 6px black);
}

.footer div a span {
  color: lightblue;
}
/* ---tablet responsive -- */
@media (max-width: 768px) {
  .titulo {
    display: flex;
    align-items: center;
    background-image: url(../imagenes/titulo3.webp);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    height: 170px;
  }

  .lista {
    display: flex;
    margin: auto;
    padding: initial;
    border: 1px solid;
  }

  li {
    list-style: none;
    flex: auto;
    text-align: center;
  }
  a {
    color: white;
    line-height: 3;
    width: 100%;
  }
  .mainContacto {
    display: none;
  }
}

/* --- mobile responsive --- */
@media (max-width: 576px) {
  .titulo {
    display: flex;
    align-items: center;
    background-image: url(../imagenes/titulo3.webp);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    height: 170px;
  }
  .btnContacto {
    display: none;
  }
  .mainContacto {
    display: none;
  }

  .mailContacto {
    display: block;
    text-align: center;
  }
  .mailContacto a:hover {
    color: aqua;
  }

  #contactoDesktop {
    display: none;
  }

  #contactoMobile {
    display: inline-block;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "text1"
      "image1"
      "text2"
      "image2";
  }
}
