body {
  font-family: "Open Sans", sans-serif; /* tipografia */
  background-color: #222831;
  color: #eeeeee;
  box-sizing: border-box;
}

.titulo {
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../imagenes/titulo3.webp);
  background-repeat: no-repeat;
  filter: drop-shadow(1px 4px 31px black) !important;
  height: 600px;
  background-size: cover;
}

a.nav-link:hover {
  color: gold !important;
  text-decoration: underline;
}

#tituloh1 {
  font-size: 3.7rem;
}
#contactoMobile {
  display: none;
}

.logo {
  width: 144px;
  height: 144px;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
  line-height: 3;
}
/* ----Contacto--- */

#contactenos {
  color: black;
  display: flex;
  font-size: 1.1rem;
}

#contactenos:hover {
  transform: scale(0.9);
}
.formulario {
  margin-left: 7%;
  width: auto;
}
form input {
  display: block;
  width: 50%;
}

#mensajeForm {
  display: block;
}

#newsletter {
  display: inline-block;
}

#button_send {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 40px;
}
#button_send:hover {
  background-color: lightskyblue;
  font-size: 1.1rem;
}

.logoForm {
  float: right;
  margin: 4%;
  opacity: 70%;
}

#whatsapp a {
  background: none;
  position: fixed;
  top: 70%;
}

.mainContacto {
  display: flex;
  justify-content: center;
  background: black;
}
.textoMainContacto {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.redes {
  display: flex;
  flex-direction: column;
}

.mapDesktop {
  margin-top: 2%;
}

.mailContacto {
  display: none;
}

/* ---- quienes somos --- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "image1 text1 text1 text1"
    "image2 text2 text2 text2"
    "image3 image4 image5 image6";
}
.image1 {
  grid-area: image1;
}
.image2 {
  grid-area: image2;
}
.text1 {
  grid-area: text1;
}
.text2 {
  grid-area: text2;
}
.image3 {
  grid-area: image3;
}
.image4 {
  grid-area: image4;
}
.image5 {
  grid-area: image5;
}
.image6 {
  grid-area: image6;
}

.historia {
  text-align: center;
  background: gray;
  color: lavenderblush;
  filter: drop-shadow(2px 4px 6px black);
}

.grid-container div img {
  width: 95%;
  height: 300px;
}
.tituloMarcas {
  text-align: center;
}

/* ---footer --- */
.footer {
  height: 80px;
  background: linear-gradient(
    90deg,
    rgba(69, 69, 69, 1) 0%,
    rgba(43, 43, 43, 1) 91%
  );
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  filter: drop-shadow(2px 4px 6px black);
}

.footer div a span {
  color: lightblue;
}
/* ---tablet responsive -- */
@media (max-width: 768px) {
  .titulo {
    display: flex;
    align-items: center;
    background-image: url(../imagenes/titulo3.webp);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    height: 170px;
  }

  .lista {
    display: flex;
    margin: auto;
    padding: initial;
    border: 1px solid;
  }

  li {
    list-style: none;
    flex: auto;
    text-align: center;
  }
  a {
    color: white;
    line-height: 3;
    width: 100%;
  }

  .grid-container div div img {
    object-fit: scale-down;
  }
}

/* --- mobile responsive --- */
@media (max-width: 576px) {
  .titulo {
    display: flex;
    align-items: center;
    background-image: url(../imagenes/titulo3.webp);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    height: 170px;
  }

  .mainContacto {
    display: none;
  }

  .mailContacto {
    display: block;
    text-align: center;
  }
  .mailContacto a:hover {
    color: aqua;
  }

  #contactoDesktop {
    display: none;
  }

  #contactoMobile {
    display: inline-block;
  }

  .grid-container div div img {
    object-fit: scale-down;
  }
}
