$border: (
  green: $color-grn,
  blue: $color-blu,
  cyan: $color-lgy,
  red: $color-red,
);
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $border {
  .border-#{$red} {
    border: 1px (solid) ($color);
  }
}
