.progressB {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5px;
  margin-right: 5px;
}
.progress-bar {
  background-color: rgb(255, 46, 46);
  text-align: end;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  border: 1px solid black;
  border-radius: inherit;

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
