//Colores
$color-lg: lightgray;
$color-grn: #2ecc71;
$color-blu: #3498db;
$color-lgy: lightcyan;
$color-red: #ff2e2e;
$color-black: #0a0808;
$color-fondoarticle: #161718;

//Variables
$cienx: 100%;
$heipx: 1000px;
$marcas: "Marcas con las que trabajamos";
